<div class="card">
  <div class="card-header">
    <h2><b>{{titleCard}}</b></h2>
  </div>
  <div class="card-body">
    <h3 class="card-title">Cliente: {{clintUserAccount.name}} | Conta: {{clintUserAccount.account}} | Contato:
      {{clintUserAccount.email}}</h3>
    <hr>
    <form class="form-group" [formGroup]="orderForm" #form="ngForm">
      <div class="row" *ngIf="isTransferActive" >
        <div class="col-lg-12">
          <input
            class="form-control"
            type="text"
            placeholder="Número da contra "
            formControlName="accountOtherClient"
            (change)="isAccountCheck()"
            [ngClass]="{'is-invalid': orderForm.get('accountOtherClient').errors?.required && (form.submitted || orderForm.get('accountOtherClient').touched)}"
            >
            <app-v-message
            *ngIf="orderForm.get('accountOtherClient').errors?.required && (form.submitted || orderForm.get('accountOtherClient').touched)"
            text="O campo é obrigatorio !"></app-v-message>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-lg-12">
          <input
            class="form-control"
            type="text"
            mask="separator.2" separatorLimit="1000"
            placeholder="Digite o valor do deposito"
            formControlName="valueTransaction"
            [ngClass]="{'is-invalid': orderForm.get('valueTransaction').errors?.required && (form.submitted || orderForm.get('valueTransaction').touched)}"
            >
            <app-v-message
            *ngIf="orderForm.get('valueTransaction').errors?.required && (form.submitted || orderForm.get('valueTransaction').touched)"
            text="O campo valor é obrigatorio !"></app-v-message>
        </div>
      </div>
      <div class="container">
      </div>
      <div class="row mt-2">
        <div class="col-lg-12">
          <button
            type="button"
            (click)="persistenceTransactionForm()"
            class="btn btn-outline-secondary btn-block"><b>{{titleCard}}</b></button>
        </div>
      </div>
    </form>
  </div>
</div>
