<app-header></app-header>
<app-menu></app-menu>

<app-footer></app-footer>

<div class="container mt-3">
  <mat-card>
    <mat-card-header>
      <div mat-card-avatar class="example-header-image">
      </div>

         <app-card-client-home
      [clientName]="userClient.name"
      [clientAccount]="userClient.account"
      [clientBalance]="userClient.balance"
      ></app-card-client-home>


    </mat-card-header>
  </mat-card>
</div>
<div class="container mt-3">
  <mat-card>
    <router-outlet></router-outlet>
  </mat-card>
</div>


