<app-header></app-header>
<app-menu></app-menu>

<app-footer></app-footer>

<div class="container mt-3">
  <mat-card>
    <mat-card-header>
      <div mat-card-avatar class="example-header-image">
      </div>
      <mat-card-title><b>{{userClient.name | uppercase}}</b> <a  (click)="getOutOfTheSystem()" class="badge badge-secondary ml-3 a-sair">sair</a></mat-card-title>

      <mat-card-subtitle><b>Conta - </b> {{userClient.account}} | <b>Saldo </b> {{userClient.balance |  currency:'BRL'}}</mat-card-subtitle>
    </mat-card-header>
  </mat-card>
</div>
<div class="container mt-3">
  <mat-card>
    <h1>Home Page</h1>
  </mat-card>
</div>


