<mat-sidenav-container class="example-container">
  <mat-sidenav
    mode="side" [opened]="openMenu" fixedInViewport="true"
    class="sidenav"
    fixedTopGap="65">
    <mat-list role="list" class="nav-list">
      <mat-list-item role="listitem">
        <a href=""> <i class="fa fa-eye" aria-hidden="true"></i> <b>Saldo</b></a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <a href=""> <i class="fa fa-address-card-o" aria-hidden="true"></i> <b>Depositor</b></a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <a href=""> <i class="fa fa-credit-card" aria-hidden="true"></i> <b>Saque</b></a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <a href=""> <i class="fa fa-exchange" aria-hidden="true"></i> <b>Transferência</b></a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <a href=""><i class="fa fa-folder-open" aria-hidden="true"></i> <b>Historico</b></a>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>
</mat-sidenav-container>

