<mat-sidenav-container class="example-container">
  <mat-sidenav
    mode="side" opened fixedInViewport="true"
    class="sidenav"
    fixedTopGap="65">
    <mat-list role="list" class="nav-list">
      <mat-list-item role="listitem">
        <a href=""> <i class="fa fa-address-card-o" aria-hidden="true"></i> <b>CONTA</b></a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <a href=""><i class="fa fa-bar-chart" aria-hidden="true"></i> <b>HISTORICO</b></a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <a href=""> <i class="fa fa-share-square-o" aria-hidden="true"></i><b>SAIR</b></a>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>
</mat-sidenav-container>
