<mat-toolbar class="header mat-elevation-z4">
  <span>
    <img src="../../../../assets/img/money.png" alt="Logo" class="logo" (click)="activeMenuOrClose(isActive)">
  </span>
  <span class="header-title">
    <b>  </b>
    <button class="btn btn-outline-secondary" mat-button [matMenuTriggerFor]="menu">
      <b>{{userClient?.name | uppercase}}</b> <i class="fa fa-sort-desc icone" aria-hidden="true"></i>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item><b>USUÁRIO</b></button>
      <button mat-menu-item type="button" (click)="getOutOfTheSystem()"><b>SAIR</b></button>
    </mat-menu>


  </span>

</mat-toolbar>
