<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<section class="login-block">
  <div class="container">
    <div class="row">
      <div class="col-md-4 login-sec">
        <h2 class="text-center">MultBank</h2>
        <form class="login-form" [formGroup]="orderFrom">
          <div class="form-group">
            <label for="exampleInputEmail1" class="text-uppercase">Username</label>
            <input
              type="text"
              class="form-control"
              placeholder=""
              formControlName="email"
              [ngClass]="{'is-invalid': orderFrom.get('email').errors?.required}"
              >
              <app-v-message
              *ngIf="orderFrom.get('email').errors?.required"
              text="O email do usuário é necessário"></app-v-message>
          </div>

          <div class="form-group">
            <label for="exampleInputPassword1" class="text-uppercase">Password</label>
            <input
              type="password"
              class="form-control"
              placeholder=""
              formControlName="password"
              [ngClass]="{'is-invalid': orderFrom.get('password').errors?.required}"
              >
              <app-v-message
              *ngIf="orderFrom.get('password').errors?.required"
              text="O password do usuário é necessário"></app-v-message>
          </div>


          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input">
              <small>Remember Me</small>
            </label>
            <button
              type="button"
              class="btn btn-login float-right"
              (click)="login()" >Submit</button>
          </div>

        </form>

        <div class="copy-text">
            <a (click)="singUp()">Criar Conta MultBank</a>
          </div>
      </div>
      <div class="col-md-8 banner-sec">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
              <img class="d-block img-fluid" src="https://static.pexels.com/photos/33972/pexels-photo.jpg"
                alt="First slide">
              <div class="carousel-caption d-none d-md-block">
                <div class="banner-text">
                  <h2>MultBank</h2>
                  <p>O banco mais perto do cliente, sem taxa e juros </p>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
</div>
